// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

table .text-vertical{
    writing-mode: horizontal-tb;
}

.table th, .table td {
    padding: 5px 2px !important;
}